@import './styles/config/fonts';
@import './styles/config/reset';
@import './styles/config/variables';
@import './styles/config/global';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		margin: 0;
		padding: 0;
		height: 100%;
		min-height: 100%;
		position: relative;
		overflow-x: hidden;
		scroll-behavior: smooth;
		text-rendering: optimizeSpeed;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: var(--base-font-size);
		line-height: var(--base-line-height);
		font-family: var(--base-font-family);
		font-weight: 400;
	}
}

@layer components {
	.input {
		@apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
	}

	.button {
		@apply bg-indigo-500  text-white font-bold py-2 px-8 rounded;
	}

	.form {
		@apply bg-white shadow-md rounded px-8 pt-6 pb-8 flex flex-col items-start gap-[20px] w-full max-w-2xl mx-auto;
	}
}
